@media(max-width: 600px) {
    .container-product {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35rem;
        max-width: 100%;
    }

    .container-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-product-mobile {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

    .title-product {
        text-align: center;
    }
    
    .description-product {
        text-align: center;
    }

}

@media (max-width: 375px) {
.container-product {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    }
}

@media(min-width: 600px) {
        .image-product-mobile {
    width: 100%;
    border-radius: 1rem 0 0 1rem;
}
}